<ul class="pager">
{% if show_previous %}
	<li class="previous">
		<a href="?page={{ previous_page }}&filter={{ filter }}" class="page" data-page="{{ previous_page }}">&larr; Newer</a>
	</li>
{% endif %}
{% if show_next %}
	<li class="next">
		<a href="?page={{ next_page }}&filter={{ filter }}" class="page" data-page="{{ next_page }}">Older &rarr;</a>
	</li>
{% endif %}
</ul>
