{% spaceless %}
    <div class="alert {{ alert_type }} alert-block alert-notification fade in" {% if hidden is defined %}style="display:none;"{% endif %} {% if id is defined %}id="warning-{{id}}"{% endif %}>
        <a href="#" data-dismiss="alert" class="close">&times;</a>
        <h6>{% if title is defined %}{{title}}{%else%}{{ "info.box.title" | trans }}{% endif %}</h6>
        <ul>
            {% if message is defined %}
                <li><span>{{ message | raw}}</span></li>
            {% else %}
                <li><span>{{ "info.box.summary" | trans }}</span></li>
            {% endif %}
        </ul>
    </div>
{% endspaceless %}
